<h1 class="user-title">
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<% if signed_in? && @user.id == current_user.id  %>
  <div class="user-settings">
    <p class="delete-account"><%= link_to "Delete Account", @user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <p class="edit-account"><%= link_to "Edit Account", edit_user_path %></p>
    <p class="list-item"><%= link_to "List item", new_item_path %></p>
  </div>
<% end %>

<%= render 'listed_items' %>
<%= render 'bidding_items' %>
<%= render 'won_items' %>