<h1>Welcome to <%= print_jbay %></h1>
<h2>Items for sale</h2>
<%= render 'shared/search' %>

<%= will_paginate %>

<% @items.each do |item| %>
<article class="item-preview">
  <div class="item-thumb"></div>
  <div class="details">
    <h2><%= link_to item.name, item %></h2>
    <h3><%= item.category.name %></h3>
  </div>
</article>
<hr>
<% end %>

<%= will_paginate %>

<br>

<%= link_to 'New Item', new_item_path %>