<h1>Welcome to <%= print_jbay %></h1>
<h2>Items for sale</h2>
<%= render 'shared/search' %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= item.category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>