<article class="item-details">
  <div class="image"></div>
  <div class="details">
    <h1><%= @item.name %></h1>
    <h2><%= number_to_currency(@item.starting_price) %></h2>
    <h3><span>Seller:</span> <%= link_to @item.user.name, @item.user %></h3>
    <h4><span>Category:</span> <%= @item.category.name %></h4>
    <p><%= @item.description %></p>
  </div>
  <ul class="details-nav">
    <li><%= link_to 'Edit', edit_item_path(@item) %></li>
    <li><%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</article>