<header>
  <nav id="main-nav">
    <h1><%= link_to print_jbay,
            root_path %></h1>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Admin", categories_path %></li>
    </ul>
  </nav>
</header>