<header>
  <nav id="main-nav">
    <h1><%= link_to print_jbay,
            root_path %></h1>
    <ul>
      <li><%= link_to "Items", items_path %></li> |
      <li><%= link_to "About", about_path %></li> |
      <% if signed_in? %>
        <% if current_user.admin? %>
          <li><%= link_to "Categories", categories_path %></li> |
        <% end %>
        <li><%= link_to "Users", users_path %></li> |
        <li><%= gravatar_for(current_user) %></li>
        <li><%= link_to current_user.name, current_user %>
          <ul>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </div>
  </nav>
</header>